<!--footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p><img src="example/logo.png" alt="" /></p>
                <address>
                    <p><i class="icon-map-marker"></i> Street Name 432/2, London, 90210</p>
                    <p><i class="icon-phone"></i> (123) 456-7890</p>
                    <p><i class="icon-mobile-2"></i> (123) 456-7890</p>
                    <p><i class="icon-mail-3"></i> <a href="mailto:#">info@email.com</a></p>
                </address>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="span8"></div>
                    <div class="span8">

                    </div>
                </div>
            </div>
            <div class="span4">
                <p class="heading">About Us</p>
                <p>Curabitur suscipit ultricies metus quis scelerisque. Quisque eget enim orci. Cras sagittis volutpat auctor. </p>
                <p class="heading">Subscribe</p>
                <p>Keep updated with our news. Your email is safe with us!</p>
                <div class="input-append">
                    <input type="text" placeholder="Enter Email Address" class="span2" />
                    <button type="button" class="btn btn-inverse">Subscribe!</button>
                </div>
            </div>
            <div class="span4">
                <p class="heading">Company</p>
                <ul class="footer-navigate">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./portfolio4.html">Portfolio</a></li>
                    <li><a href="./blog-sidebar-right.html">Blog</a></li>
                    <li><a href="./services.html">Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--footer menu-->
<section id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="span4">
                <p class="copyright">Copyright &copy; 2014.浮萍工作室 All rights reserved.</a></p>
            </div>
            <div class="span8 hidden-phone">
                <ul class="pull-right">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">网站地图</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>